/* Variable Imports */
@use "lib/scss/spacing/variables" as spacing;
@use "lib/scss/typography/variables" as typography;
@use "lib/scss/color/variables" as color;
@use "lib/scss/breakpoint/variables" as breakpoint;
@use "./variables" as vars;

/* Mixin Imports */
@use "lib/scss/layout/mixins" as layout;


@mixin spec__col
  {
    display                    : flex;
    margin-bottom              : spacing.$b4;
    width                      : 100%;
  }
