
<div class="project-detail">
  <h2 class="project-detail__heading">
  </h2>
  <div class="project-detail__slider">
    <div class="project-slider"> </div>
    <div class="thumbnail-slider"> </div>
  </div>
  <div class="project-detail__specs">
    <div class="spec__row">
      <div class="spec__col--address">
        <div class="spec__label"></div>
        <div class="spec__value"></div>
      </div>
      <div class="spec__col--role">
        <div class="spec__label"></div>
        <div class="spec__value"></div>
      </div>
      <div class="spec__col--architect">
        <div class="spec__label"></div>
        <div class="spec__value"></div>
      </div>
    </div>
    <div class="spec__row">
      <div class="spec__col--started">
        <div class="spec__label"></div>
        <div class="spec__value"></div>
      </div>
      <div class="spec__col--completed">
        <div class="spec__label"></div>
        <div class="spec__value"></div>
      </div>
      <div class="spec__col--status">
        <div class="spec__label"></div>
        <div class="spec__value"></div>
      </div>
    </div>
  </div>
  <div class="project-detail__desc"> </div>
</div>
