<nav id="main-nav" class="navbar">
  <a
    href="index.html"
    class="navbar__logo"
  >
    <span class="icon-logo"></span>
  </a>
  <div class="navbar__nav">
    <div class="nav__inner">
      <a
        href="portfolio.html"
        class="nav__item"
      >
        Portfolio
      </a>
      <a
        href="about.html"
        class="nav__item--active"
      >
        About Us
      </a>
      <a
        href="contact.html"
        class="nav__item"
      >
        Contact
      </a>
    </div>
  </div>
  <div class="navbar__toggle">
    <a class="navbar__toggle-open" >
      <span class="icon-hamburger"><span>
    </a>
    <a class="navbar__toggle-close" >
      <span class="icon-close"><span>
    </a>
  </div>
</nav>
<div class="scrim"></div>
