@use "node_modules/normalize.css/normalize.css";

/* Variable Imports */
@use "lib/scss/spacing/variables" as spacing;
@use "lib/scss/color/variables" as color;
@use "lib/scss/typography/variables" as typographyVars;
@use "lib/scss/breakpoint/variables" as breakpoint;
@use "lib/scss/layout/variables" as layoutVars;
@use "./variables" as vars;

/* Mixin Imports */
@use "lib/scss/misc/mixins" as misc;
@use "lib/scss/typography/mixins" as typographyMixins;
@use "lib/scss/layout/mixins" as layoutMixins;
@use "lib/scss/aspect-ratio/mixins" as aspect-ratio;
@use "component/WelcomeBanner/mixins" as WelcomeBannerMixins;
@use "./mixins";

/* Style Imports */
@use "lib/scss/layout";
@use "lib/scss/typography";
@use "lib/scss/icons";
@use "lib/scss/page_title";
@use "lib/scss/footer";
@use "component/Navbar";
@use "component/EmployeeCard";
@use "component/WelcomeBanner";



/* Contents
 * 
 */



/*
 * 0. Misc
 */



/*
 * 0. Welcome Section
 */

.welcome-banner__background {
  --welcome-banner-url     : url("./image/mobile/image-hero.jpg");
  --welcome-banner-url--sm : url("./image/tablet/image-hero.jpg");
  --welcome-banner-url--md : url("./image/desktop/image-hero.jpg");

  @include                 WelcomeBannerMixins.welcome-banner__background(
                             --welcome-banner-url,
                             --welcome-banner-url--sm,
                             --welcome-banner-url--md,
                           );
}


/*
 * 0. Heritage Section
 */

.heritage-section {
  padding-top              : spacing.$b18;
  padding-left             : layoutVars.$document_margin;
  padding-right            : layoutVars.$document_margin;

  @media (min-width: breakpoint.$sm) {
    padding-top            : spacing.$b50;
    padding-left           : 0;
    padding-right          : 0;
  }

  @media (min-width: breakpoint.$md) {
    display                : flex;
    flex-wrap              : nowrap;
    padding-top            : spacing.$b50;
  }
}



.section-heading--heritage {
  @include                 typographyMixins.section-heading;
  @include                 misc.horizontal-dash;
}



.heritage-section__left {
  @media (min-width: breakpoint.$md) {
    padding-right          : 122px;
  }
}



.heritage-section__right {
  display                  : none;

  @media (min-width: breakpoint.$md) {
    display                : block;
  }
}



/*
 * 0. Leaders Section
 */

.leaders-section {
  padding-top              : spacing.$b18;
  padding-left             : layoutVars.$document_margin;
  padding-right            : layoutVars.$document_margin;

  @media (min-width: breakpoint.$sm) {
    padding-top            : spacing.$b44 - 1;
    padding-left           : 0;
    padding-right          : 0;
  }

  @media (min-width: breakpoint.$md) {
    padding-top            : spacing.$b48 + 1;
  }
}


.leader-grid {
  @media (min-width: breakpoint.$sm) {
    display                : grid;
    grid-template-columns  : 1fr 1fr;
    column-gap             : 10px;
  }

  @media (min-width: breakpoint.$md) {
    grid-template-columns  : 1fr 1fr 1fr;
    column-gap             : 30px;
  }
}



.section-heading--leader {
  @include                 typographyMixins.section-heading;

  margin-bottom            : spacing.$b16 - 2;

  @media (min-width: breakpoint.$sm) {
    margin-bottom          : spacing.$b16 - 1;
    grid-column            : 1 / -1;
  }

  @media (min-width: breakpoint.$md) {
    grid-column            : 1 / span 1;
    grid-row               : 1 / span 2;
  }
}



