@use "lib/scss/typography/variables" as typography;
@use "lib/scss/spacing/variables" as spacing;
@use "lib/scss/color/variables" as color;
@use "lib/scss/breakpoint/variables" as breakpoint;



.employee-card {
  margin-bottom            : spacing.$b9 - 2;

  @media (min-width: breakpoint.$sm) {
    margin-bottom          : spacing.$b15 - 2;
  }

  @media (min-width: breakpoint.$sm) {
    margin-bottom          : spacing.$b5 - 2;
  }
}



.employee-card__header { padding-bottom : spacing.$b6 + 1; }



.employee-card__img {
  width                    : 100%;
  height                   : auto;
  display                  : block;
}



.employee-card__content { color : color.$very-dark-grey; }



.employee-card__heading {
  color                    : color.$very-dark-grey;
  margin-bottom            : 0;
}



.employee-card__job-title {
  font-weight              : typography.$font-weight-normal;
  font-size                : 16px;
  line-height              : spacing.$b8;
  letter-spacing           : -0.5px;
}



.employee-card__social-icon {
  font-size                : 32px;
  line-height              : spacing.$b10 + 2;
  margin-right             : 22px;
}
