/* Variable Imports */
@use "lib/scss/spacing/variables" as spacing;
@use "lib/scss/color/variables" as color;
@use "lib/scss/breakpoint/variables" as breakpoint;
@use "lib/scss/layout/variables" as layoutVars;

/* Mixin Imports */
@use "lib/scss/layout/mixins" as layoutMixins;

/* Style Imports */
@use "node_modules/normalize.css/normalize.css";
@use "node_modules/@splidejs/splide/dist/css/splide.min.css";
@use "lib/scss/layout";
@use "lib/scss/typography";
@use "lib/scss/icons";
@use "lib/scss/page_title";
@use "lib/scss/footer";
@use "lib/scss/misc";
@use "component/Navbar";
@use "component/Modal";
@use "component/Project";
@use "./component/PortfolioItem";



/* Contents
 * 
 */



.portfolio {
  padding-top              : spacing.$b14;
  padding-left             : layoutVars.$document_margin;
  padding-right            : layoutVars.$document_margin;

  @media( min-width: breakpoint.$sm ) {
    padding-top            : 0;
    padding-left           : 0;
    padding-right          : 0;
  }

  @media( min-width: breakpoint.$md ) {
    display                : grid;
    grid-template-columns  : repeat(3, 1fr);
    grid-gap               : 28px;
  }
}



