
$very-light-grey-blue      : #f6f6fe;
$very-light-grey           : #eeeff4;
$light-grey-blue           : #b3b5c6;
$grey-blue                 : #6d708d;
$dark-grey-blue            : #494c5f;

$primary-1                 : #ff00ff;
$primary-2                 : #696fdd;
$primary                   : $primary-1;

$on-primary                : black;

$background                : $very-light-grey-blue;

$main-heading              : #e4e4ed;
