@use "spacing";
@use "breakpoint";


/* Contents
 * 1. Mixins
 * 2. Rules
 */


/* 0. Variables */
$section-spacing     : spacing.$b20;
$section-spacing--sm : spacing.$b30;
$section-spacing--lg : spacing.$b50;

$subsection-spacing : spacing.$b6;



/* 1. Mixins */
@mixin section
  ( $spacing     : $section-spacing
  , $spacing--sm : $section-spacing--sm
  , $spacing--lg : $section-spacing--lg
  ) {
    margin-top             : $spacing;

    @media(min-width: breakpoint.$sm) {
      margin-top           : $spacing--sm;
    }

    @media(min-width: breakpoint.$lg) {
      margin-top           : $spacing--lg;
    }
  }



@mixin subsection
  {
    // margin-top             : spacing.$b10;
    margin-top             : $subsection-spacing;
  }



/* 2. Rules */
.container {
  display                  : flex;
  position                 : relative;
  z-index                  : 1;
}



.inner-container {
  width                    : 200px;
  padding-right            : spacing.$outer-horizontal;
  flex                     : 1 1 auto;

  @media(min-width: breakpoint.$sm) {
    padding-right          : spacing.$outer-horizontal--sm;
  }

  @media(min-width: breakpoint.$md) {
    padding-right          : spacing.$outer-horizontal--md;
  }

  @media(min-width: breakpoint.$lg) {
    padding-right          : spacing.$outer-horizontal--lg;
  }
}



