@use "spacing";
@use "color";
@use "mixins";
@use "sass:color" as sassColor;
@use "breakpoint";



$nav-item-font-size : 13px;

$nav-item-line-height     : spacing.$b6;
$nav-item-line-height--sm : spacing.$b8;
$nav-item-line-height--md : spacing.$b10;
$nav-item-line-height--lg : spacing.$b10;

$nav-item-vertical-spacing     : spacing.$b6;
$nav-item-vertical-spacing--sm : spacing.$b8;
$nav-item-vertical-spacing--md : spacing.$b8;
$nav-item-vertical-spacing--lg : spacing.$b14;

$left-offset--sm : spacing.$b19;
$left-offset--md : spacing.$b25;



.navbar {
  display                  : flex;
  align-items              : center;
}



@mixin nav-item {
  display                  : inline-block;
  line-height              : $nav-item-line-height;
  padding                  : $nav-item-vertical-spacing 0;
  font-size                : $nav-item-font-size;
  
  @media (min-width: breakpoint.$sm) {
    line-height            : $nav-item-line-height--sm;
    padding                : $nav-item-vertical-spacing--sm 0;
  }

  @media (min-width: breakpoint.$md) {
    line-height            : $nav-item-line-height--md;
    padding                : $nav-item-vertical-spacing--md 0;
  }

  @media (min-width: breakpoint.$lg) {
    line-height            : $nav-item-line-height--lg;
    padding                : $nav-item-vertical-spacing--lg 0;
  }
}



@mixin nav-item--active {
  color                    : color.$primary;
}



.nav-item {
  @include                 nav-item;

  padding-left             : spacing.$b5;

  &:hover {
    @include               nav-item--active;
  }

  &:active {
    @include               nav-item--active;
    color                  : sassColor.scale( color.$primary
                                            , $lightness: -10%
                                            );
  }

  @media (min-width: breakpoint.$sm) {
    font-size              : 15px;
    padding-left           : spacing.$b9;
  }

  @media (min-width: breakpoint.$md) {
    font-size              : 16px;
    padding-left           : spacing.$b14;
  }
}



.nav-item--logo {
  @include                 nav-item;
  @include                 mixins.logo;
}



.nav-item--first {
  @media (min-width: breakpoint.$sm) {
    padding-left           : $left-offset--sm;
  }

  @media (min-width: breakpoint.$md) {
    padding-left           : $left-offset--md;
  }
}



.nav-item--active {
  @include                 nav-item--active;
}
