
@use "vars";
@use "navbar";
@use "typography";
@use "spacing";
@use "breakpoint";



.page-title {
  display                  : flex;
  flex-direction           : column;
  flex                     : 0 0 auto;
  align-items              : center;
  width                    : spacing.$outer-horizontal;
  opacity                  : .2;

  &:before {
    content                : "";
    display                : block;
    width                  : 1px;
    background-color       : black;
    flex                   : 0 0 auto;
    height                 : navbar.$nav-item-vertical-spacing
                           + navbar.$nav-item-line-height;
    margin-bottom          : navbar.$nav-item-vertical-spacing;
  }

  @media (min-width: breakpoint.$sm) {
    width                  : spacing.$outer-horizontal--sm;

    &:before {
      height               : navbar.$nav-item-vertical-spacing--sm
                           + navbar.$nav-item-line-height--sm;
      margin-bottom        : navbar.$nav-item-vertical-spacing--sm;
    }
  }

  @media (min-width: breakpoint.$md) {
    width                  : spacing.$outer-horizontal--md;

    &:before {
      height               : navbar.$nav-item-vertical-spacing--md
                           + navbar.$nav-item-line-height--md;
      margin-bottom        : navbar.$nav-item-vertical-spacing--md;
    }
  }

  @media (min-width: breakpoint.$lg) {
    width                  : spacing.$outer-horizontal--lg;

    &:before {
      height               : navbar.$nav-item-vertical-spacing--lg
                           + navbar.$nav-item-line-height--lg;
      margin-bottom        : navbar.$nav-item-vertical-spacing--lg;
    }
  }
}



.page-title__heading {
  display                  : flex;
  align-items              : center;
  text-orientation         : mixed;
  writing-mode             : tb-rl;
  vertical-align           : middle;
  font-size                : typography.$font-size;
  font-weight              : typography.$font-weight-normal;
  width                    : 100%;
  text-transform           : uppercase;
  letter-spacing           : spacing.$b2;
  margin                   : 0;

  @media (min-width: breakpoint.$md) {
    font-size              : 18px;
    letter-spacing         : 16px;
  }
}



