
@use "spacing";
@use "color";


/* TODO: group variables in files according to functionality */



$font-color                               : color.$dark-grey-blue;


$sm-slide-caption-font-size               : 24px;
$sm-slide-caption-line-height             : spacing.$b6;
$md-slide-caption-font-size               : 30px;
$md-slide-caption-line-height             : spacing.$b8;
$lg-slide-caption-font-size               : 30px;
$lg-slide-caption-line-height             : spacing.$b8;

$slider-pagination-width                  : spacing.$b20;

$welcome-banner-vertical-offset           : spacing.$b18;
$welcome-wrapper-max-width                : 918px;


$sm-footer-logo-vertical-spacing          : spacing.$b7;
$md-footer-logo-vertical-spacing          : spacing.$b9;
$lg-footer-logo-vertical-spacing          : spacing.$b20;



