
@use "spacing";
@use "color";


/* TODO: group variables in files according to functionality */









$sm-footer-logo-vertical-spacing          : spacing.$b7;
$md-footer-logo-vertical-spacing          : spacing.$b9;
$lg-footer-logo-vertical-spacing          : spacing.$b20;



