
@use "spacing";
@use "color";

/* 1. Variables */
$package-max-width                        : 327px;
$package-min-height                       : 453px;
$font-color                               : color.$dark-grey-blue;
$large-breakpoint                         : 860px;
$horizontal-outer-spacing                 : spacing.$b12;
$nav-item-line-height                     : spacing.$b6;
$nav-item-vertical-spacing                : spacing.$b6;

$sm-horizontal-outer-spacing              : spacing.$b14;
$sm-nav-item-line-height                  : spacing.$b8;
$sm-nav-item-vertical-spacing             : spacing.$b8;
$sm-navigation-left-offset                : spacing.$b19;
$sm-logo-width                            : spacing.$b14;

$md-horizontal-outer-spacing              : spacing.$b32;
$md-nav-item-line-height                  : spacing.$b10;
$md-nav-item-vertical-spacing             : spacing.$b8;
$md-navigation-left-offset                : spacing.$b25;
$md-logo-width                            : spacing.$b23;

$lg-horizontal-outer-spacing              : spacing.$b41;
$lg-nav-item-line-height                  : spacing.$b10;
$lg-nav-item-vertical-spacing             : spacing.$b14;
$sm-slide-caption-font-size               : 24px;
$sm-slide-caption-line-height             : spacing.$b6;
$md-slide-caption-font-size               : 30px;
$md-slide-caption-line-height             : spacing.$b8;
$lg-slide-caption-font-size               : 30px;
$lg-slide-caption-line-height             : spacing.$b8;

$breakpoint-sm                            : 600px;
$breakpoint-md                            : 960px;
$breakpoint-lg                            : 1280px;
$breakpoint-xl                            : 1940px;

$slider-pagination-width                  : spacing.$b20;

$section-header-font-size                 : 30px;
$section-header-line-height               : spacing.$b8;

$welcome-banner-vertical-offset           : spacing.$b18;
$welcome-wrapper-max-width                : 918px;


$sm-footer-logo-vertical-spacing          : spacing.$b7;
$md-footer-logo-vertical-spacing          : spacing.$b9;
$lg-footer-logo-vertical-spacing          : spacing.$b20;



