@use "node_modules/@splidejs/splide/dist/css/splide.min.css";
@use "spacing" as spacing;
@use "typography";
@use "button" as button;
@use "color" as color;
@use "sass:color" as sassColor;
@use "toggle" with
  ( $background   : color.$primary
  , $switch-color : color.$on-primary
  );


/* Contents
 * 1. Variables
 * 2. General Styles
 * 3. Container
 * 0. Navbar
 * 0. Page Title
 */



/* 1. Variables */
$package-max-width                        : 327px;
$package-min-height                       : 453px;
$font-color                               : color.$dark-grey-blue;
$large-breakpoint                         : 860px;
$horizontal-outer-spacing                 : spacing.$b12;
$nav-item-line-height                     : spacing.$b6;
$nav-item-vertical-spacing                : spacing.$b6;

$sm-horizontal-outer-spacing              : spacing.$b14;
$sm-nav-item-line-height                  : spacing.$b8;
$sm-nav-item-vertical-spacing             : spacing.$b8;
$sm-navigation-left-offset                : spacing.$b19;
$sm-logo-width                            : spacing.$b14;

$md-horizontal-outer-spacing              : spacing.$b32;
$md-nav-item-line-height                  : spacing.$b10;
$md-nav-item-vertical-spacing             : spacing.$b8;
$md-navigation-left-offset                : spacing.$b25;
$md-logo-width                            : spacing.$b23;

$lg-horizontal-outer-spacing              : spacing.$b41;
$lg-nav-item-line-height                  : spacing.$b10;
$lg-nav-item-vertical-spacing             : spacing.$b14;
$sm-slide-caption-font-size               : 24px;
$sm-slide-caption-line-height             : spacing.$b6;
$md-slide-caption-font-size               : 30px;
$md-slide-caption-line-height             : spacing.$b8;
$lg-slide-caption-font-size               : 30px;
$lg-slide-caption-line-height             : spacing.$b8;

$breakpoint-sm                            : 600px;
$breakpoint-md                            : 960px;
$breakpoint-lg                            : 1280px;
$breakpoint-xl                            : 1940px;

$slider-pagination-width                  : spacing.$b20;



/* 2. General Styles */
:root {
  color: $font-color;
}



body {
  background-color : color.$background;
  margin           : 0;
}



div {
  box-sizing: border-box;
}



ul {
  list-style-type : none;
  margin-top      : 0;
  margin-bottom   : 0;
  padding-left    : 0;
}



h1 {
  font-size        : typography.$font-size;
  margin           : 0;
}



a {
  text-decoration          : none;
  color                    : inherit;
}



.display-none {
  display : none !important;
}



.display-initial {
  display : initial;
}



/* 0. Container */
.container {
  display                  : flex;
}



/* 0. Navbar */
.navbar {
  display                  : flex;
  align-items              : center;
}


@mixin nav-item {
  display                  : inline-block;
  line-height              : $nav-item-line-height;
  padding                  : $nav-item-vertical-spacing 0;
  
  @media (min-width: $breakpoint-sm) {
    line-height            : $sm-nav-item-line-height;
    padding                : $sm-nav-item-vertical-spacing 0;
  }

  @media (min-width: $breakpoint-md) {
    line-height            : $md-nav-item-line-height;
    padding                : $md-nav-item-vertical-spacing 0;
  }

  @media (min-width: $breakpoint-lg) {
    line-height            : $lg-nav-item-line-height;
    padding                : $lg-nav-item-vertical-spacing 0;
  }
}



@mixin nav-item--active {
  color                    : color.$primary;
}



.nav-item {
  @include         nav-item;

  padding-left             : spacing.$b5;

  &:hover {
    @include               nav-item--active;
  }

  &:active {
    @include               nav-item--active;
    color                  : sassColor.scale( color.$primary
                                            , $lightness: -10%
                                            );
  }

  @media (min-width: $breakpoint-sm) {
    font-size              : 15px;
    padding-left           : spacing.$b9;
  }

  @media (min-width: $breakpoint-md) {
    font-size              : 16px;
    padding-left           : spacing.$b14;
  }
}



.nav-item--logo {
  @include         nav-item;

  font-size                : 24px;
  font-weight              : 700;
  letter-spacing           : -2px;


  @media (min-width: $breakpoint-md) {
    width                  : $sm-logo-width;
  }

  @media (min-width: $breakpoint-md) {
    font-size              : 40px;
    width                  : $md-logo-width;
  }
}



.nav-item--first {
  @media (min-width: $breakpoint-sm) {
    padding-left           : $sm-navigation-left-offset;
  }

  @media (min-width: $breakpoint-md) {
    padding-left           : $md-navigation-left-offset;
  }
}



/* 0. Inner Container */
.inner-container {
  width                    : 200px;
  padding-right            : $horizontal-outer-spacing;
  flex                     : 1 1 auto;

  @media(min-width: $breakpoint-sm) {
    padding-right          : $sm-horizontal-outer-spacing;
  }

  @media(min-width: $breakpoint-md) {
    padding-right          : $md-horizontal-outer-spacing;
  }

  @media(min-width: $breakpoint-lg) {
    padding-right          : $lg-horizontal-outer-spacing;
  }
}



/* 0. Page Title */
.page-title {
  display                  : flex;
  flex-direction           : column;
  flex                     : 0 0 auto;
  align-items              : center;
  width                    : $horizontal-outer-spacing;
  opacity                  : .2;

  &:before {
    content                : "";
    display                : block;
    width                  : 1px;
    background-color       : black;
    flex                   : 0 0 auto;
    height                 : $nav-item-vertical-spacing
                           + $nav-item-line-height;
    margin-bottom          : $nav-item-vertical-spacing;
  }

  @media (min-width: $breakpoint-sm) {
    width                  : $sm-horizontal-outer-spacing;

    &:before {
      height               : $sm-nav-item-vertical-spacing
                           + $sm-nav-item-line-height;
      margin-bottom        : $sm-nav-item-vertical-spacing;
    }
  }

  @media (min-width: $breakpoint-md) {
    width                  : $md-horizontal-outer-spacing;

    &:before {
      height               : $md-nav-item-vertical-spacing
                           + $md-nav-item-line-height;
      margin-bottom        : $md-nav-item-vertical-spacing;
    }
  }

  @media (min-width: $breakpoint-lg) {
    width                  : $lg-horizontal-outer-spacing;

    &:before {
      height               : $lg-nav-item-vertical-spacing
                           + $lg-nav-item-line-height;
      margin-bottom        : $lg-nav-item-vertical-spacing;
    }
  }
}



.page-title__heading {
  display                  : flex;
  align-items              : center;
  text-orientation         : mixed;
  writing-mode             : tb-rl;
  vertical-align           : middle;
  font-size                : typography.$font-size;
  font-weight              : typography.$font-weight-normal;
  width                    : 100%;
  text-transform           : uppercase;
  letter-spacing           : spacing.$b2;
  margin                   : 0;

  @media (min-width: $breakpoint-md) {
    font-size              : 18px;
    letter-spacing         : 16px;
  }
}



/* 0. Main Home Slider */
.main-slider { }



.main-slider__list {
  width                    : 100%;
}



.main-slider__slide {
  position                 : relative;
  width                    : 100%;

  &:after {
    content                : " ";
    display                : block;
    position               : relative;
    top                    : 0;
    background-size        : cover;
    background-position    : center;

    width                  : 100%;
    height                 : 50vh;

    @media(min-width: $breakpoint-md) {
      height               : 70vh;
    }

    @media(min-width: $breakpoint-lg) {
      height               : 100vh;
    }
  }
}



.main-slider__slide-container {
  width                    : 100%;
  height                   : 100%;
}



.main-slider__slide-caption {
  display                  : none;

  @media(min-width: $breakpoint-sm) {
    display                : block;
    padding                : 0
                             ( $sm-logo-width
                             + $sm-navigation-left-offset
                             );
    margin-top             : spacing.$b40;
    position               : absolute;
    letter-spacing         : 1px;
  }

  @media(min-width: $breakpoint-md) {
    margin-top             : spacing.$b25;
    display                : block;
    padding-left           : $md-logo-width
                           + $md-navigation-left-offset;
  }
}



@mixin slide-caption__content {
  max-width                : 440px;
  max-width                : 524px;

  @media(min-width: $breakpoint-md) {
    max-width              : 524px;
  }
}



.caption-heading {
  @include                 slide-caption__content;

  text-shadow              : 1px 1px #0006;
  color                    : white;
  font-weight              : 700;
  margin-bottom            : spacing.$b6;

  @media (min-width: $breakpoint-sm) {
    font-size              : $sm-slide-caption-font-size * 2;
    line-height            : $sm-slide-caption-line-height * 2;
  }

  @media (min-width: $breakpoint-md) {
    font-size              : $md-slide-caption-font-size * 2;
    line-height            : $md-slide-caption-line-height * 2;
  }

  @media (min-width: $breakpoint-lg) {
    font-size              : $lg-slide-caption-font-size * 3;
    line-height            : $lg-slide-caption-line-height * 3;
  }
}



.caption-body {
  @include                 slide-caption__content;

  text-shadow              : 1px 1px #fff6;
  color                    : black;
  word-spacing             : 6px;


  @media (min-width: $breakpoint-sm) {
    display                : none;
    font-size              : $sm-slide-caption-font-size;
    line-height            : $sm-slide-caption-line-height;
  }

  @media (min-width: $breakpoint-md) {
    font-size              : $md-slide-caption-font-size;
    line-height            : $md-slide-caption-line-height;
  }

  @media (min-width: $breakpoint-lg) {
    display                : block;
    font-size              : $lg-slide-caption-font-size;
    line-height            : $lg-slide-caption-line-height;
  }
}



.slide-button {
  @include                 button.button;
  @include                 button.button--dark;

  @media(min-width: $breakpoint-md) {
    @include               button.button--medium;
  }
}



.slide-button__arrow {
  margin-left              : 24px;
}



/* 0. Slider Controls */
.main-slider__pagination {
  display                  : none;
  margin-top               : $slider-pagination-width*-1;
  margin-left              : $slider-pagination-width*-1;

  @media(min-width: $breakpoint-md) {
    display                : block;
  }
}



.main-slider__page-num {
  width                    : $slider-pagination-width;
  height                   : $slider-pagination-width;
  background-color         : white;
  color                    : sassColor.scale(black, $alpha: -70%);
  display                  : flex;
  align-items              : center;
  justify-content          : center;
  font-size                : 20px;
}



.main-slider__page-num.is-active {
  background-color         : black;
  /*
  color                    : sassColor.scale( color.$primary
                                            , $alpha: -60%
                                            );
                                            */
  color                    : color.$primary;
  border                   : none;
}
