@use "node_modules/@splidejs/splide/dist/css/splide.min.css";
@use "spacing";
@use "typography";
@use "button";
@use "card";
@use "color";
@use "navbar";
@use "page_title";
@use "footer";
@use "general";
@use "vars";
@use "mixins";
@use "sass:color" as sassColor;
@use "breakpoint";
@use "toggle" with
  ( $background   : color.$primary
  , $switch-color : color.$on-primary
  );


/* Contents
 * 1. Main Home Slider
 * 2. Welcome Section
 * 3. About Section 
 * 4. Feature Section
 */



/* 1. Main Home Slider */
.main-slider { }



.main-slider__list {
  width                    : 100%;
}



.main-slider__slide {
  position                 : relative;
  width                    : 100%;

  &:after {
    content                : " ";
    display                : block;
    position               : relative;
    top                    : 0;
    background-size        : cover;
    background-position    : center;

    width                  : 100%;
    height                 : 50vh;

    @media(min-width: breakpoint.$md) {
      height               : 70vh;
    }

    @media(min-width: breakpoint.$lg) {
      height               : 100vh;
    }
  }
}



.main-slider__slide-container {
  width                    : 100%;
  height                   : 100%;
}



.main-slider__slide-caption {
  display                  : none;

  @media(min-width: breakpoint.$sm) {
    display                : block;
    padding                : 0
                           ( general.$logo-width--sm
                           + navbar.$left-offset--sm
                           ) ;
    margin-top             : spacing.$b40;
    position               : absolute;
    letter-spacing         : 1px;
  }

  @media(min-width: breakpoint.$md) {
    margin-top             : spacing.$b25;
    display                : block;
    padding-left           : general.$logo-width--md
                           + navbar.$left-offset--md;
  }
}



@mixin slide-caption__content {
  max-width                : 440px;
  max-width                : 524px;

  @media(min-width: breakpoint.$md) {
    max-width              : 524px;
  }
}



.caption-heading {
  @include                 slide-caption__content;

  text-shadow              : 1px 1px #0006;
  color                    : white;
  font-weight              : 700;
  margin-bottom            : spacing.$b6;

  @media (min-width: breakpoint.$sm) {
    font-size              : vars.$sm-slide-caption-font-size * 2;
    line-height            : vars.$sm-slide-caption-line-height * 2;
  }

  @media (min-width: breakpoint.$md) {
    font-size              : vars.$md-slide-caption-font-size * 2;
    line-height            : vars.$md-slide-caption-line-height * 2;
  }

  @media (min-width: breakpoint.$lg) {
    font-size              : vars.$lg-slide-caption-font-size * 3;
    line-height            : vars.$lg-slide-caption-line-height * 3;
  }
}



.caption-body {
  @include                 slide-caption__content;

  text-shadow              : 1px 1px #fff6;
  color                    : black;
  word-spacing             : 6px;


  @media (min-width: breakpoint.$sm) {
    display                : none;
    font-size              : vars.$sm-slide-caption-font-size;
    line-height            : vars.$sm-slide-caption-line-height;
  }

  @media (min-width: breakpoint.$md) {
    font-size              : vars.$md-slide-caption-font-size;
    line-height            : vars.$md-slide-caption-line-height;
  }

  @media (min-width: breakpoint.$lg) {
    display                : block;
    font-size              : vars.$lg-slide-caption-font-size;
    line-height            : vars.$lg-slide-caption-line-height;
  }
}



.slide-button {
  @include                 button.button;
  @include                 button.button--dark;

  @media(min-width: breakpoint.$md) {
    @include               button.button--medium;
  }
}



.slide-button__arrow {
  margin-left              : 24px;
}



.main-slider__pagination {
  display                  : none;
  margin-top               : vars.$slider-pagination-width*-1;
  margin-left              : vars.$slider-pagination-width*-1;

  @media(min-width: breakpoint.$md) {
    display                : block;
  }
}



.main-slider__page-num {
  width                    : vars.$slider-pagination-width;
  height                   : vars.$slider-pagination-width;
  background-color         : white;
  color                    : sassColor.scale(black, $alpha: -70%);
  display                  : flex;
  align-items              : center;
  justify-content          : center;
  font-size                : 20px;
}



.main-slider__page-num.is-active {
  background-color         : black;
  color                    : color.$primary;
  border                   : none;
}



/* 2. Welcome Section */
.welcome-section {
  @include                 mixins.section;
}



.welcome-banner {
  font-size                : 57px;
  line-height              : spacing.$b15;
  font-weight              : 700;
  opacity                  : .1;

  @media(min-width: breakpoint.$md) {
    font-size              : 140px;
    line-height            : spacing.$b37;
  }

  @media(min-width: breakpoint.$lg) {
    font-size              : 200px;
    line-height            : spacing.$b52;
    transform              : translatey(
                               vars.$welcome-banner-vertical-offset
                             );
  }
}



.welcome-wrapper {
  display                  : flex;
  max-width                : vars.$welcome-wrapper-max-width;
  margin-left              : auto;
}



.welcome-text {
  padding-right            : 28px;

  @media(min-width: breakpoint.$lg) {
    padding-top            : vars.$welcome-banner-vertical-offset;
  }
}



.welcome-image-wrapper {
  display                  : none;

  @media(min-width: breakpoint.$md) {
    display                : block;
  }
}



/* 3. About Section */
.about-section {
  @include                 card.card;
  @include                 mixins.section;
  @include                 mixins.aspect-ratio;
  @include                 mixins.aspect-ratio--square;

  &:before {
    background-image       : url(../images/home_office.jpg);
    background-size        : cover;
  }

  @media(min-width: breakpoint.$sm) {
    @include               mixins.aspect-ratio--16to9;
  }


  @media(min-width: breakpoint.$lg) {
    margin-top             : spacing.$b50;
  }
}



.about-content {
  @include                 card.card__content;

  display                  : flex;
  flex-direction           : column;
  align-items              : flex-start;
  justify-content          : center;
  align-content            : flex-start;
  flex-wrap                : wrap;
  padding-left             : 24px;
  padding-right            : 24px;
  max-width                : vars.$welcome-wrapper-max-width;
  margin-left              : auto;

  @media(min-width: breakpoint.$sm) {
    padding-left           : 48px;
    padding-right          : 48px;
  }

  @media(min-width: breakpoint.$lg) {
    padding-left           : 0;
    padding-right          : 0;
  }
}



.about-text {
  font-weight              : 700;
  font-size                : 36px;
  line-height              : spacing.$b11;
  color                    : white;
  text-shadow              : 1px 1px #0006;
  width                    : 100%;
  max-width                : 500px;

  @media(min-width: breakpoint.$sm) {
    font-size              : 60px;
    line-height            : spacing.$b17;
  }

  @media(min-width: breakpoint.$md) {
    font-size              : 76px;
    line-height            : spacing.$b19;
  }
}



.about-button {
  @include                 button.button;
  @include                 button.button--dark;
  margin-top               : spacing.$b8;

  @media(min-width: breakpoint.$sm) {
    margin-top             : spacing.$b16;
  }

  @media(min-width: breakpoint.$md) {
    @include               button.button--medium;
  }
}



/* 4. Feature Section */
.feature-section {
  @include                 mixins.section;
  margin-top               : spacing.$b24;

  @media(min-width: breakpoint.$lg) {
    margin-top             : spacing.$b50;
  }
}


.feature-header {
  display                  : flex;
  align-items              : flex-end;
}



.feature-button {
  @include                 button.button;
  @include                 button.button--dark;

  @media(min-width: breakpoint.$md) {
    @include               button.button--medium;
  }
}



.section-content {
  margin-top               : spacing.$b10;

  @media(min-width: breakpoint.$lg) {
    display                : flex;
    margin-top             : spacing.$b16;
  }
}



.feature-card {
  @include                 card.card;
  @include                 mixins.aspect-ratio;
  @include                 mixins.aspect-ratio--21to9;

  width                    : 100%;
  margin-bottom            : spacing.$b2;

  &:before {
    background-size        : cover;

    @media(min-width: breakpoint.$lg) {
      padding-bottom       : 151.85%;
    }
  }
}



.featured-card--1 {
  &:before {
    background-image       : url("../images/architecture.jpg");
  }
}



.featured-card--2 {
  &:before {
    background-image       : url("../images/architecture2.jpg");
  }

  @media(min-width: breakpoint.$lg) {
    margin                : 0 26px;
  }
}



.featured-card--3 {
  &:before {
    background-image       : url("../images/window.jpg");
  }
}



.featured-card__content {
  @include                 card.card__content;

  display                  : flex;
  align-items              : flex-end;
  font-size                : 16px;
  line-height              : spacing.$b5;
  color                    : white;
  text-shadow              : 1px 1px #0006;
  padding                  : spacing.$b3 spacing.$b6;
  background-color         : hsla(0, 0%, 0%, 0.3);

  @media(min-width: breakpoint.$sm) {
    font-size              : 24px;
    line-height            : spacing.$b7;
  }

  @media(min-width: breakpoint.$lg) {
    padding                : spacing.$b11 0 spacing.$b11 60px;
    font-size              : 20px;
  }
}



.project-title {
  display                  : flex;
  flex-direction           : column;
  align-items              : flex-start;
  justify-content          : flex-end;
  font-weight              : 700;

  @media(min-width: breakpoint.$sm) {
    font-size              : 32px;
    line-height            : spacing.$b10;
  }
}



.project-button {
  font-weight              : 500;
  cursor                   : pointer;

  @media(min-width: breakpoint.$lg) {
    font-size              : 15px;
  }
}



.project-number {
  text-align               : right;
  font-size                : 108px;
  font-weight              : 700;
  margin-left              : auto;
  vertical-align           : bottom;
  line-height              : 1;
  opacity                  : .4;

  @media(min-width: breakpoint.$sm) {
    font-size              : 180px;
    line-height            : spacing.$b45;
  }

  @media(min-width: breakpoint.$md) {
    font-size              : 320px;
    line-height            : spacing.$b82;
  }

  @media(min-width: breakpoint.$lg) {
    font-size              : 200px;
    line-height            : spacing.$b50;
    position               : absolute;
    top                    : 0;
    right                  : 0;
  }
}



