@use "spacing";
@use "color";
@use "button";
@use "mixins";
@use "breakpoint";



$footer-logo-vertical-spacing--sm : spacing.$b7;
$footer-logo-vertical-spacing--md : spacing.$b9;
$footer-logo-vertical-spacing--lg : spacing.$b20;



.footer {
  margin-top               : spacing.$b23;
  position                 : relative;

  @media(min-width: breakpoint.$sm) {
    padding-left           : spacing.$outer-horizontal--sm;
    padding-right          : spacing.$outer-horizontal--sm;
  }

  @media(min-width: breakpoint.$md) {
    padding-left           : spacing.$outer-horizontal--md;
    padding-right          : spacing.$outer-horizontal--md;
  }

  @media(min-width: breakpoint.$lg) {
    margin-top             : spacing.$b48;
    padding-left           : spacing.$outer-horizontal--lg;
    padding-right          : spacing.$outer-horizontal--lg;
  }
}



.footer-nav {
  display                  : flex;
  align-items              : center;
  position                 : relative;

  &:before {
    content                : "";
    display                : block;
    position               : absolute;
    top                    : 0;
    bottom                 : 0;
    right                  : 0;
    left                   : 0;
    background-color       : color.$very-light-grey;
    max-width              : 90%;
    z-index                : -1;
  }
}



.footer-logo {
  @include                 mixins.logo;
  line-height              : 1;
  padding                  : 16px 8px;
  background-color         : black;
  color                    : white;

  @media(min-width: breakpoint.$sm) {
    padding                : $footer-logo-vertical-spacing--sm
                             spacing.$b4;
  }

  @media(min-width: breakpoint.$md) {
    padding                : $footer-logo-vertical-spacing--md
                             spacing.$b5; 
  }

  @media(min-width: breakpoint.$lg) {
    padding                : $footer-logo-vertical-spacing--lg
                             spacing.$b13;
  }
}



.nav-item--footer {
  padding                  : 20px 8px;
  
  @media(min-width: breakpoint.$md) {
    font-size              : 24px;
    padding                : $footer-logo-vertical-spacing--md
                             spacing.$b3;
  }

  @media(min-width: breakpoint.$lg) {
    padding                : spacing.$b21 spacing.$b5;
    font-size              : 28px;
    line-height            : spacing.$b8;
  }
}



.footer-button {
  @include                 button.button;
  @include                 button.button--dark;
  @include                 button.button;
  display                  : none;

  @media(min-width: breakpoint.$sm) {
    display                : inline-block;
  }

  @media(min-width: breakpoint.$lg) {
    @include               button.button--medium;
  }
}
