
@mixin row {
  display                  : flex;
  flex-wrap                : wrap;
  align-items              : stretch;
  justify-content          : flex-start;
}



@mixin col-1 {
  width                    : 8.3333333%;
}



@mixin col-2 {
  width                    : 16.6666667%;
}



@mixin col-3 {
  width                    : 25%;
}



@mixin col-4 {
  width                    : 33.3333333%;
}



@mixin col-5 {
  width                    : 41.6666665%;
}



@mixin col-6 {
  width                    : 50%;
}



@mixin col-7 {
  width                    : 58.3333333%;
}



@mixin col-8 {
  width                    : 66.6666666%;
}



@mixin col-9 {
  width                    : 75%;
}



@mixin col-10 {
  width                    : 83.3333335%;
}



@mixin col-11 {
  width                    : 91.6666667%;
}



@mixin col-12 {
  width                    : 100%;
}



