
/* Variable Imports */
@use "lib/scss/breakpoint/variables" as breakpoint;
@use "lib/scss/color/variables" as color;
@use "lib/scss/typography/variables" as typographyVars;
@use "lib/scss/layout/variables" as layoutVars;
@use "lib/scss/spacing/variables" as spacing;
@use "./variables" as vars;

/* Mixin Imports */
@use "lib/scss/button/mixins" as button;
@use "lib/scss/aspect-ratio/mixins" as aspect-ratio;
@use "lib/scss/layout/mixins" as layoutMixins;
@use "lib/scss/typography/mixins" as typographyMixins;
@use "lib/scss/misc/mixins" as misc;
@use "./mixins";

/* Style Imports */
@use "node_modules/normalize.css/normalize.css";
@use "node_modules/@splidejs/splide/dist/css/splide.min.css";
@use "lib/scss/layout";
@use "lib/scss/typography";
@use "lib/scss/icons";
@use "lib/scss/page_title";
@use "lib/scss/footer";
@use "component/Navbar";
@use "component/Modal";
@use "component/Project";
@use "lib/scss/misc" as miscStyles;



/* Contents
 * 
 */



/*
 * 0. Slider
 */
.slider {
  position                 : relative;
}



.splide-main {
  &__list {
    width                  : 100%;
  }


  &__slide {
    @include               aspect-ratio.custom(149%);

    position               : relative;
    width                  : 100%;

    @media (min-width: breakpoint.$sm) {
      @include             aspect-ratio.custom(126%);
    }

    @media (min-width: breakpoint.$md) {
      @include             aspect-ratio.custom(65%);
    }


    &__container {
      position             : absolute;
      top                  : 0;
      bottom               : 0;
      left                 : 0;
      right                : 0;

      &:before {
        display            : block;
        content            : "";
        background-color   : color.$very-dark-grey;
        opacity            : 0.5;
        position           : absolute;
        top                : 0;
        bottom             : 0;
        left               : 0;
        right              : 0;
      }


      img {
        width              : 100%;
        display            : block;
        height             : auto;
      }
    }
  }
}



.slide-caption {
  position                 : absolute;
  bottom                   : 0;
  padding                  : spacing.$b8 layoutVars.$document_margin;
  color                    : white;

  @media(min-width: breakpoint.$sm) {
    padding                : spacing.$b32 layoutVars.$document_margin--sm;
  }
  
  @media(min-width: breakpoint.$md) {
    padding                : spacing.$b24 layoutVars.$document_margin--sm;
    max-width              : 500px;
  }


  &__heading {
    @include               mixins.caption__content;

    font-size              : 48px;
    line-height            : spacing.$b14;
    font-weight            : typographyVars.$font-weight-bold;
    letter-spacing         : -1.2px;
    margin-bottom          : spacing.$b4 - 1;

    @media (min-width: breakpoint.$sm) {
      letter-spacing       : -2px;
    }

    @media (min-width: breakpoint.$lg) {
      font-size            : 80px;
      line-height          : spacing.$b20;
    }
  }


  &__body {
    @include               mixins.caption__content;

    font-size              : 15px;
    line-height            : spacing.$b6 + 1;
    letter-spacing         : 0;
    margin-bottom          : spacing.$b14 + 2;

    @media (min-width: breakpoint.$sm) {
      margin-bottom        : spacing.$b10;
    }
  }
}



.slide-button {
  @include                 button.button;

  display                  : inline-block;

  &__arrow {
    margin-left            : 24px;
    font-size              : 18px;
  }
}



.slider-pagination {
  display                  : none;

  @media(min-width: breakpoint.$md) {
    margin-top             : 0;
    margin-left            : 0;
    display                : block;
    position               : absolute;
    bottom                 : -1px;
    transform              : translateX(-80px);
    background-color       : white;
  }


  .page-num {
    width                  : 80px;
    height                 : 80px;
    background-color       : white;
    display                : flex;
    align-items            : center;
    justify-content        : center;
    font-size              : 20px;


    &.is-active {
      background-color     : black;
      color                : white;
      border               : none;
    }
  }

}



/*
 * 0. Welcome Section
 */

.main {
  margin-top               : spacing.$b18 + 1;

  @media(min-width: breakpoint.$sm) {
    margin-top             : spacing.$b23 + 1;
  }

  @media(min-width: breakpoint.$md) {
  }
}



.welcome-section {
  padding-left             : layoutVars.$document_margin;
  padding-right            : layoutVars.$document_margin;

  @media(min-width: breakpoint.$sm) {
    padding-left           : 0;
    padding-right          : 0;
  }

  @media(min-width: breakpoint.$md) {
    display                : flex;
  }
}



.page-heading {
  display                : none;

  @media(min-width: breakpoint.$sm) {
    display              : block;
    position             : static;
    line-height          : (spacing.$b39 + 1);
    letter-spacing       : -4px;
    margin-bottom        : 0;
  }

  @media(min-width: breakpoint.$md) {
    letter-spacing       : -5px;
    line-height          : spacing.$b50;
    position             : absolute;
    z-index              : 2;
    top                  : 0;
    left                 : 0;
  }
}



.welcome-text {
  @media(min-width: breakpoint.$md) {
    padding-top            : spacing.$b44 + 2;
    padding-right          : 56px;
    flex                   : 0 0 70%;
    z-index                : 1;
    box-sizing             : border-box;
  }

  @media(min-width: breakpoint.$lg) {
    padding-left           : 188px;
    padding-right          : 121px;
  }


  &__heading {
    @include               typographyMixins.section-heading;
    @include               misc.horizontal-dash;

    @media(min-width: breakpoint.$sm) {
      max-width            : 356px;
    }


    &:before {
      @media(min-width: breakpoint.$sm) {
        content            : unset;
      }
    }
  }
}



.welcome-img {
  display                  : none;

  @media(min-width: breakpoint.$md) {
    display                : block;
    padding-top            : spacing.$b25 + 1;
    position               : absolute;
    top                    : 0;
    right                  : 0;

    &:after {
      content              : "";
      display              : block;
      position             : absolute;
      top                  : 0;
      right                : 0;
      bottom               : 0;
      left                 : 0;
      background-color     : white;
      opacity              : 0.5;
    }
  }
}



/*
 * 0. About Section
 */

.about-section {
  padding-top              : spacing.$b24 + 1;

  @media(min-width: breakpoint.$sm) {
    padding-top            : spacing.$b49 + 2;
  }
}



.about-wrapper {
  position                 : relative;
}



.about-text {
  @include                 layoutMixins.document_padding;

  position                 : absolute;
  top                      : 0;
  right                    : 0;
  bottom                   : 0;
  left                     : 0;
  display                  : flex;
  flex-direction           : column;
  align-items              : flex-start;
  justify-content          : center;
  align-content            : flex-start;
  flex-wrap                : wrap;

  @media(min-width: breakpoint.$sm) {
    padding                : spacing.$b14;
  }

  @media(min-width: breakpoint.$md) {
    padding                : spacing.$b8 116px;
  }

  @media(min-width: breakpoint.$lg) {
    padding                : (spacing.$b14 + 1) 189px;
  }


  &:before {
    content                : "";
    display                : block;
    position               : absolute;
    top                    : 0;
    right                  : 0;
    bottom                 : 0;
    left                   : 0;
    background-color       : color.$very-dark-grey;
    opacity                : 0.4;
    z-index                : 1;
  }


  &__body {
    @include               typographyMixins.section-heading;

    width                  : 100%;
    font-weight            : typographyVars.$font-weight-bold;
    color                  : white;
    z-index                : 2;

    @media(min-width: breakpoint.$sm) {
      margin-bottom        : spacing.$b9;
      color                : white;
      max-width            : 356px;
    }

    @media(min-width: breakpoint.$md) {
      margin-bottom        : spacing.$b12 + 1;
    }
  }


  &__cta {
    @include               button.button;

    display                : inline-block;
    z-index                : 2;


    .icon-arrow {
      margin-left          : 24px;
      font-size            : 18px;
    }
  }
}



.about-img {
  img {
    width                  : 100%;
    height                 : auto;
    display                : block;
  }
}



/*
 * 0. Featured Section
 */

.featured-section {
  padding-top              : spacing.$b18;
  padding-left             : layoutVars.$document_margin;
  padding-right            : layoutVars.$document_margin;

  @media(min-width: breakpoint.$sm) {
    padding-top            : spacing.$b50 + 1;
    padding-left           : 0;
    padding-right          : 0;
  }

  @media(min-width: breakpoint.$md) {
    padding-top            : spacing.$b49 - 1;
  }
}



.featured-header {
  margin-bottom            : spacing.$b12;
  display                  : flex;
  justify-content          : space-between;
  align-items              : flex-start;

  @media(min-width: breakpoint.$sm) {
    margin-bottom          : spacing.$b20 + 1;
  }

  @media(min-width: breakpoint.$md) {
    margin-bottom          : spacing.$b15;
  }

  &__heading {
    @include               typographyMixins.section-heading;
    margin-bottom          : 0;

    @media(min-width: breakpoint.$sm) {
      margin-bottom        : 0;
      line-height          : spacing.$b19;
    }
  }


  &__cta {
    @include               button.button;

    display                : none;

    @media(min-width: breakpoint.$sm) {
      display              : inline-block;
    }

    .icon-arrow {
      font-size            : 18px;
      line-height          : 24px;
      margin-left          : 24px;
    }
  }
}



.featured-content {
  @media(min-width: breakpoint.$md) {
    display                : grid;
    grid-template-columns  : repeat(3, 1fr);
    column-gap             : 30px;
  }
}



.project {
  position                 : relative;
  margin-bottom            : spacing.$b6;
  cursor                   : pointer;

  @media(min-width: breakpoint.$md) {
    margin-bottom          : 0;
  }


  &__img {
    img {
      width                : 100%;
      height               : auto;
      display              : block;
    }
  }


  &__content {
    display                : flex;
    flex-wrap              : wrap;
    justify-content        : space-between;
    align-items            : flex-end;
    position               : absolute;
    top                    : 0;
    right                  : 0;
    bottom                 : 0;
    left                   : 0;


    &:before {
      content              : "";
      display              : block;
      position             : absolute;
      top                  : 0;
      right                : 0;
      bottom               : 0;
      left                 : 0;
      background-color     : color.$very-dark-grey;
      opacity              : 0.2;
      z-index              : 1;
    }
  }


  &__text {
    z-index                : 2;
    padding                : spacing.$b6 25px;

    @media(min-width: breakpoint.$sm) {
      padding              : (spacing.$b10 + 1) 39px;
    }

    @media(min-width: breakpoint.$md) {
      order                : 2;
      width                : 100%;
      box-sizing           : border-box;
      padding              : spacing.$b3 28px;
    }
  }


  &__heading {
    font-size              : 18px;
    line-height            : spacing.$b6 + 1;
    letter-spacing         : 0;
    font-weight            : typographyVars.$font-weight-bold;
    color                  : white;
  }


  &__cta {
    color                  : white;
    text-decoration        : none;
  }


  &__number {
    display                : none;

    @media(min-width: breakpoint.$sm) {
      display              : block;
      align-self           : flex-start;
      z-index              : 2;
      color                : white;
      font-weight          : typographyVars.$font-weight-bold;
      line-height          : spacing.$b58;
      font-size            : 200px;
      margin-right         : 15px;
      opacity              : 0.4;
    }

    @media(min-width: breakpoint.$md) {
      margin-left          : auto;
      margin-right         : -16px;
      margin-top           : spacing.$b4 - 1;
      order                : 1;
    }
  }
}



.featured-cta {
  @include                 button.button;

  justify-content          : center;

  @media(min-width: breakpoint.$sm) {
    display                : none;
  }


  .icon-arrow {
    font-size              : 18px;
    margin-left            : 24px;
  }
}
